<h1>Ether JS Dapp</h1>

<button (click)="connectMetamask()" class="button">ConnectMetamask</button> &nbsp;
<button (click)="getBalance()" class="getBalance">Get Balance</button> &nbsp;
<button (click)="sendTransaction()" class="transcation">Transaction</button>
<button (click)="getBlockNumber()" class="blockNumber">BlockNumber</button>

<div>

  <p *ngIf="isSignature">User Signature: {{signature}}</p>
  <p *ngIf="isSignature">Wallet Address: {{walletAddress}}</p>
  <p *ngIf="isBalance"> Get Balance: {{walletBalance}}</p>

  <div *ngIf="isGetTranacation">
    <p>Transcation Fee {{transactionFee}}</p>
    <p>From Address: {{fromAddress}}</p>
    <p>To Address: {{toAddress}}</p>
    <p>Value {{amount}}</p>
    <p>Transcation Hash: {{transcationHash}}</p>
  </div>
</div>